
<div class="pageDiv min-h-screen bg-inbg">
    <Header  ></Header>
    <div class="mt-10 mx-10 text-center">
        <p class="text-4xl mt-64  mb-5 text-accent">Welcome <span class="text-primary">Bitch!</span></p>
        <p class="mb-6">
            Your here to book tickets bud?. Better pay for what u wish for
        </p>
        <a class="border-2 border-primary bg-inbg text-primary text-xl px-4 py-2 font-bold rounded hover:border-inbg hover:bg-primary hover:text-inbg " routerLink="login">Get Started</a>
    </div>
</div>